Codes and Functionalities/all n8n worflows/ARIA Password Reset & Reminder.json
{
  "name": "ARIA Password Reset & Reminder",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "aria-password-reset",
        "responseMode": "lastNode",
        "options": {
          "allowedOrigins": "https://www.founderos.com,https://founder-os.webflow.io,https://founder-os-white.webflow.io,https://new.founderos.com"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -288,
        128
      ],
      "id": "efd7efce-c13a-48ea-b297-cd9c610a956d",
      "name": "Webhook",
      "webhookId": "9466e0eb-f550-4192-829b-10565cfb132b"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "search",
        "limit": 1,
        "filterGroupsUi": {
          "filterGroupsValues": [
            {
              "filtersUi": {
                "filterValues": [
                  {
                    "propertyName": "email|string",
                    "value": "={{ $json.email }}"
                  }
                ]
              }
            },
            {
              "filtersUi": {
                "filterValues": [
                  {
                    "propertyName": "hs_additional_emails|enumeration",
                    "value": "={{ $json.email }}"
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "properties": [
            "firstname",
            "lastname",
            "email",
            "program_tier",
            "aria_custom_password"
          ]
        }
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        608,
        32
      ],
      "id": "fd7271b5-d2b2-436a-aac2-7651a5bd1175",
      "name": "HubSpot Search",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "GMo7dzwLKJaHGdGS",
          "name": "HubSpot account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// N8N Function Node: Validate & Route Request - FIXED\nconst inputData = $input.first().json;\nconst { email, resetType } = inputData.body || {}; // Get data from the body object\n\n// Debug logging\nconsole.log('Password reset request:', { \n  email: email || 'missing', \n  resetType: resetType || 'missing',\n  timestamp: new Date().toISOString()\n});\n\n// Validate required fields\nif (!email || !resetType) {\n  return [{\n    json: {\n      success: false,\n      message: \"Email and request type are required\",\n      error: \"MISSING_FIELDS\"\n    }\n  }];\n}\n\n// Validate email format\nconst cleanEmail = email.trim().toLowerCase();\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\n\nif (!emailRegex.test(cleanEmail)) {\n  return [{\n    json: {\n      success: false,\n      message: \"Please enter a valid email address\",\n      error: \"INVALID_EMAIL\"\n    }\n  }];\n}\n\n// Validate reset type\nif (!['reminder', 'reset'].includes(resetType)) {\n  return [{\n    json: {\n      success: false,\n      message: \"Invalid request type\",\n      error: \"INVALID_TYPE\"\n    }\n  }];\n}\n\n// Return cleaned data for next node\nreturn [{\n  json: {\n    email: cleanEmail,\n    resetType: resetType,\n    validated: true,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        128
      ],
      "id": "940a2843-b296-4405-9c21-df9a9e17a8f5",
      "name": "Validate & Route Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d9e359fb-747a-40a4-816c-5d9be9b0ca71",
              "leftValue": "={{$json.resetType}}",
              "rightValue": "reminder",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1280,
        128
      ],
      "id": "9ef2746f-067b-4e51-81e2-94af7a731bd3",
      "name": "Route Email Type"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.email }}",
        "subject": "={{ $json.emailSubject }}",
        "message": "=<div style=\"font-family: Helvetica,Arial,sans-serif; max-width: 600px; margin: 0 auto; background: #ffffff;\">\n  <div style=\"background: #d9fc67; color: #161616; padding: 30px 20px; text-align: center;\">\n    <h1 style=\"margin: 0; font-size: 24px;\">Your ARIA Access Code</h1>\n  </div>\n  \n  <div style=\"padding: 30px 20px;\">\n    <p style=\"font-size: 16px; line-height: 1.5; color: #161616;\">Hi {{ $('HubSpot Search').item.json.properties.firstname }},</p>\n    \n    <p style=\"font-size: 16px; line-height: 1.5; color: #161616;\">You requested your ARIA access code. Here it is:</p>\n    \n    <div style=\"background: #f8f9fa; padding: 25px; border-radius: 10px; text-align: center; margin: 25px 0; border: 2px solid #d9fc67;\">\n      <p style=\"margin: 0 0 10px; font-size: 14px; color: #666; text-transform: uppercase; letter-spacing: 1px;\">Your Access Code</p>\n      <p style=\"margin: 0; font-size: 28px; font-weight: bold; color: #d9fc67; font-family: 'Courier New', monospace;\">{{$json.accessCode}}</p>\n    </div>\n    \n    <p style=\"font-size: 16px; line-height: 1.5; color: #161616;\">Use this access code along with your email to log into ARIA:</p>\n    \n    <div style=\"text-align: center; margin: 25px 0;\">\n      <a href=\"https://founderos.com/aria-chat\" \n         style=\"background: #d9fc67; color: #161616; padding: 15px 30px; text-decoration: none; border-radius: 5px; display: inline-block; font-weight: bold; text-transform: uppercase;\">\n        Access ARIA Now\n      </a>\n    </div>\n    \n    <div style=\"background: #e3f2fd; padding: 20px; border-radius: 8px; margin: 25px 0;\">\n      <p style=\"margin: 0; font-size: 14px; color: #161616;\">\n        <strong>💡 Tip:</strong> This access code is permanent and tied to your <strong>{{$json.programTier}}</strong> membership. Save it somewhere safe!\n      </p>\n    </div>\n  </div>\n  \n  <div style=\"background: #f8f9fa; padding: 20px; text-align: center; border-top: 1px solid #dee2e6;\">\n    <p style=\"margin: 0; font-size: 14px; color: #666;\">\n      Questions? Reply to this email or contact support.<br>\n      <strong>The Founder OS Team</strong>\n    </p>\n  </div>\n</div>",
        "options": {
          "senderName": "Founder OS - ARIA Support"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1952,
        -64
      ],
      "id": "cac82ab6-7531-472d-8bff-c89d1f4794f8",
      "name": "Send a message",
      "webhookId": "06ddeefd-f70f-4d7d-866c-5fd446b5be75",
      "credentials": {
        "gmailOAuth2": {
          "id": "CFjTi04SNHTNFfud",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// N8N Function Node: Success Response\n\nconst { resetType, email, firstName} = $('Verify Member & Route').first().json;\n\nconsole.log('Sending success response:', {\n  resetType,\n  email,\n  timestamp: new Date().toISOString()\n});\n\nconst response = {\n  success: true,\n  resetType: resetType,\n  timestamp: new Date().toISOString()\n};\n\nif (resetType === 'reminder') {\n  response.message = `✅ Access code sent to ${email}. Check your inbox!`;\n  response.action = 'reminder_sent';\n} else {\n  response.message = `✅ Password reset link sent to ${email}. Check your inbox and follow the link to set your new password.`;\n  response.action = 'reset_link_sent';\n}\n\nreturn [{ json: response }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2176,
        32
      ],
      "id": "92dbc719-c781-458e-8261-ccebee892112",
      "name": "Success Response"
    },
    {
      "parameters": {
        "jsCode": "// N8N Function Node: Verify Member & Route - UPDATED for Custom Password Logic\nconst contact = $input.first().json;\nconst { resetType, email } = $('Validate & Route Request').first().json;\n\n// Check if user exists and has properties\nif (!contact || !contact.properties || !contact.properties.hs_object_id) {\n  return [{\n    json: {\n      success: false,\n      message: \"Email not found in our system. Please contact support if you believe this is an error.\",\n      error: \"USER_NOT_FOUND\"\n    }\n  }];\n}\n\n// Access data from properties object\nconst props = contact.properties;\n\n// Check if they have valid program tier (active membership)\nconst validTiers = ['Starter', 'Founder OS', 'Velocity', 'Mastermind', 'Unlimited'];\nif (!props.program_tier || !validTiers.includes(props.program_tier)) {\n  return [{\n    json: {\n      success: false,\n      message: \"Account not active. Please contact support for assistance.\", \n      error: \"INACTIVE_ACCOUNT\"\n    }\n  }];\n}\n\n// Generate reset token for password resets\nfunction generateResetToken() {\n  return Math.random().toString(36).substring(2, 15) + \n         Math.random().toString(36).substring(2, 15) + \n         Date.now().toString(36);\n}\n\n// Prepare data based on request type - UPDATED LOGIC\nconst userData = {\n  email: props.email,\n  firstName: props.firstname || 'Member',\n  lastName: props.lastname || '',\n  programTier: props.program_tier,\n  hubspotId: props.hs_object_id,\n  resetType: resetType,\n  hasCustomPassword: !!props.aria_custom_password\n};\n\nif (resetType === 'reminder') {\n  // NEW LOGIC: Check if user has custom password\n  if (props.aria_custom_password && props.aria_custom_password.trim() !== '') {\n    // User has custom password - cannot send access code\n    return [{\n      json: {\n        success: false,\n        message: \"You’ve already set a custom password. Please use the Reset my password option to update it.\",\n        error: \"CUSTOM_PASSWORD_EXISTS\"\n      }\n    }];\n  } else {\n    // User hasn't upgraded - send HubSpot ID\n    userData.accessCode = props.hs_object_id;\n    userData.emailSubject = 'Your ARIA Access Code';\n  }\n} else {\n  // For resets, generate reset token and reset URL\n  userData.resetToken = generateResetToken();\n  userData.resetExpiry = new Date(Date.now() + 30 * 60 * 1000).toISOString(); // 30 minutes\n  userData.resetUrl = `https://founderos.com/aria-reset-password?token=${userData.resetToken}&email=${encodeURIComponent(email)}`;\n  userData.emailSubject = 'Reset Your ARIA Password';\n  \n  // IMPORTANT: Add token storage format for HubSpot update\n  userData.tokenToStore = `${userData.resetToken}:${Date.now()}`;\n}\n\nreturn [{ json: userData }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        128
      ],
      "id": "b07abef0-d6ff-40d5-b3c8-516ac33ba629",
      "name": "Verify Member & Route"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.email }}",
        "subject": "={{ $('Route Email Type').item.json.emailSubject }}",
        "message": "=<div style=\"font-family: Helvetica,Arial,sans-serif; max-width: 600px; margin: 0 auto; background: #ffffff;\">   <div style=\"background: #d9fc67; color: #161616; padding: 30px 20px; text-align: center;\">     <h1 style=\"margin: 0; font-size: 24px;\">Reset Your ARIA Password</h1>   </div>      <div style=\"padding: 30px 20px;\">     <p style=\"font-size: 16px; line-height: 1.5; color: #161616;\">Hi {{ $('HubSpot Search').item.json.properties.firstname }},</p>          <p style=\"font-size: 16px; line-height: 1.5; color: #161616;\">You requested to create a new custom password for your ARIA account.</p>          <p style=\"font-size: 16px; line-height: 1.5; color: #161616;\">Click the button below to set your new password:</p>          <div style=\"text-align: center; margin: 30px 0;\">       <a href=\"{{ $('Route Email Type').item.json.resetUrl }}\"           style=\"background: #d9fc67; color: #161616; padding: 15px 30px; text-decoration: none; border-radius: 5px; display: inline-block; font-weight: bold; text-transform: uppercase; font-size: 16px;\">         Set New Password       </a>     </div>          <div style=\"background: #fff3cd; border: 1px solid #ffeaa7; padding: 20px; border-radius: 8px; margin: 25px 0;\">       <p style=\"margin: 0; font-size: 14px; color: #161616;\">         <strong>⏰ Important:</strong> This link expires in <strong>30 minutes</strong> for security.       </p>     </div>          <div style=\"background: #f8f9fa; padding: 15px; border-radius: 5px; margin: 20px 0;\">       <p style=\"margin: 0; font-size: 14px; color: #666; word-break: break-all;\">         <strong>Or copy and paste this link:</strong><br>         {{ $('Route Email Type').item.json.resetUrl }}      </p>     </div>          <p style=\"font-size: 14px; line-height: 1.5; color: #666;\">       If you didn't request this password reset, you can safely ignore this email. Your account remains secure.     </p>   </div>      <div style=\"background: #f8f9fa; padding: 20px; text-align: center; border-top: 1px solid #dee2e6;\">     <p style=\"margin: 0; font-size: 14px; color: #666;\">       Questions? Reply to this email or contact support.<br>       <strong>The Founder OS Team</strong>     </p>   </div> </div>",
        "options": {
          "senderName": "Founder OS - ARIA Support"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1952,
        128
      ],
      "id": "752a0354-c83a-47c9-86d3-9832226e7037",
      "name": "Password Reset Email Node",
      "webhookId": "977a36eb-c76b-401d-beb1-9f338e6a70de",
      "credentials": {
        "gmailOAuth2": {
          "id": "CFjTi04SNHTNFfud",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "email": "={{ $json.email }}",
        "additionalFields": {
          "customPropertiesUi": {
            "customPropertiesValues": [
              {
                "property": "aria_reset_token",
                "value": "={{$json.resetToken}}:{{Date.now()}}"
              }
            ]
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        1728,
        128
      ],
      "id": "bb59b8d8-d773-4007-8789-53bcc4bf21ab",
      "name": "Create or update a contact",
      "alwaysOutputData": false,
      "executeOnce": false,
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "GMo7dzwLKJaHGdGS",
          "name": "HubSpot account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "77482a0f-7e7f-4bc7-9e69-b896574541ab",
              "leftValue": "={{ $json.error }}",
              "rightValue": "=CUSTOM_PASSWORD_EXISTS",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1504,
        224
      ],
      "id": "0b5a46f0-5790-4bb2-a5f4-bdde17f77bfd",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        320
      ],
      "id": "1a903a5a-e551-4e8d-be56-a6b84b86db5e",
      "name": "Return Custom Password Exist"
    },
    {
      "parameters": {
        "jsCode": "// N8N Function Node: Password Reset Rate Limiting (Based on Working ARIA Auth Pattern)\n\n// --- CONFIGURATION ---\nconst RESET_RATE_LIMIT_CONFIG = {\n  MAX_ATTEMPTS_PER_EMAIL: 3,        // Max 3 requests per hour per email\n  MAX_ATTEMPTS_PER_IP: 10,          // Max 10 requests per hour per IP\n  LOCKOUT_DURATION: 60 * 60 * 1000, // 1 hour lockout in milliseconds\n  LOCKOUT_MESSAGE: \"Too many password reset requests. Please wait before trying again.\"\n};\n// --- END CONFIGURATION ---\n\nconst store = $getWorkflowStaticData('global');\nif (!store.resetRateLimiter) {\n  store.resetRateLimiter = {\n    emailRecords: {},\n    ipRecords: {}\n  };\n}\n\nconst records = store.resetRateLimiter;\nconst headers = $input.first().json.headers || {};\nconst rawIP = headers['x-forwarded-for'] || headers['cf-connecting-ip'] || headers['x-real-ip'] || 'unknown';\nconst clientIP = rawIP.toString().split(',')[0].trim();\nconst email = $input.first().json.email;\nconst currentTime = Date.now();\n\n// Clean old records (older than 2 hours)\nconst twoHoursAgo = currentTime - (2 * 60 * 60 * 1000);\nObject.keys(records.emailRecords).forEach(key => {\n  if (records.emailRecords[key].lastAttempt < twoHoursAgo) {\n    delete records.emailRecords[key];\n  }\n});\nObject.keys(records.ipRecords).forEach(key => {\n  if (records.ipRecords[key].lastAttempt < twoHoursAgo) {\n    delete records.ipRecords[key];\n  }\n});\n\n// Check email-based rate limiting\nconst emailRecord = records.emailRecords[email];\nif (emailRecord && emailRecord.lockedUntil && currentTime < emailRecord.lockedUntil) {\n  const remainingMs = emailRecord.lockedUntil - currentTime;\n  const remainingMinutes = Math.ceil(remainingMs / 60000);\n  \n  return [{\n    json: {\n      success: false,\n      message: RESET_RATE_LIMIT_CONFIG.LOCKOUT_MESSAGE,\n      error: \"EMAIL_RATE_LIMITED\",\n      lockoutInfo: {\n        type: 'email',\n        email: email,\n        lockedUntil: new Date(emailRecord.lockedUntil).toISOString(),\n        remainingMinutes: remainingMinutes\n      }\n    }\n  }];\n}\n\n// Check IP-based rate limiting\nconst ipRecord = records.ipRecords[clientIP];\nif (ipRecord && ipRecord.lockedUntil && currentTime < ipRecord.lockedUntil) {\n  const remainingMs = ipRecord.lockedUntil - currentTime;\n  const remainingMinutes = Math.ceil(remainingMs / 60000);\n  \n  return [{\n    json: {\n      success: false,\n      message: RESET_RATE_LIMIT_CONFIG.LOCKOUT_MESSAGE,\n      error: \"IP_RATE_LIMITED\", \n      lockoutInfo: {\n        type: 'ip',\n        ip: clientIP,\n        lockedUntil: new Date(ipRecord.lockedUntil).toISOString(),\n        remainingMinutes: remainingMinutes\n      }\n    }\n  }];\n}\n\n// Update or create email record\nif (!records.emailRecords[email]) {\n  records.emailRecords[email] = {\n    email: email,\n    attempts: 0,\n    lastAttempt: 0,\n    lockedUntil: 0\n  };\n}\nconst emailRec = records.emailRecords[email];\n\n// Reset email attempts if last attempt was over 1 hour ago\nif (currentTime - emailRec.lastAttempt > RESET_RATE_LIMIT_CONFIG.LOCKOUT_DURATION) {\n  emailRec.attempts = 0;\n}\n\n// Update or create IP record  \nif (!records.ipRecords[clientIP]) {\n  records.ipRecords[clientIP] = {\n    ip: clientIP,\n    attempts: 0,\n    lastAttempt: 0,\n    lockedUntil: 0\n  };\n}\nconst ipRec = records.ipRecords[clientIP];\n\n// Reset IP attempts if last attempt was over 1 hour ago\nif (currentTime - ipRec.lastAttempt > RESET_RATE_LIMIT_CONFIG.LOCKOUT_DURATION) {\n  ipRec.attempts = 0;\n}\n\n// Increment attempt counters\nemailRec.attempts++;\nemailRec.lastAttempt = currentTime;\nipRec.attempts++;\nipRec.lastAttempt = currentTime;\n\n// Apply lockouts if thresholds exceeded\nif (emailRec.attempts >= RESET_RATE_LIMIT_CONFIG.MAX_ATTEMPTS_PER_EMAIL) {\n  emailRec.lockedUntil = currentTime + RESET_RATE_LIMIT_CONFIG.LOCKOUT_DURATION;\n}\n\nif (ipRec.attempts >= RESET_RATE_LIMIT_CONFIG.MAX_ATTEMPTS_PER_IP) {\n  ipRec.lockedUntil = currentTime + RESET_RATE_LIMIT_CONFIG.LOCKOUT_DURATION;\n}\n\n// Generate warning messages\nlet warningMessage = '';\nif (emailRec.attempts === RESET_RATE_LIMIT_CONFIG.MAX_ATTEMPTS_PER_EMAIL - 1) {\n  warningMessage = ' Warning: 1 more password reset request will temporarily block this email address.';\n}\n\n// Pass data to next node with security info\nconst inputData = $input.first().json;\nconst outputData = inputData.body || inputData;\noutputData.clientIP = clientIP;\noutputData.securityPassed = true;\noutputData.warningMessage = warningMessage;\noutputData.emailAttempts = emailRec.attempts;\noutputData.ipAttempts = ipRec.attempts;\n\nreturn [{\n  json: outputData\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        128
      ],
      "id": "ee58b29b-905d-43b2-9f4a-47b218e2bc1e",
      "name": "Enhanced Security"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "35f31b53-5eea-4b85-9903-097a9d8a13c4",
              "leftValue": "={{ $json.error }}",
              "rightValue": "EMAIL_RATE_LIMITED",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        384,
        128
      ],
      "id": "d5941988-b7b8-437a-9395-a875b90d9546",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        224
      ],
      "id": "e06afe74-6ec7-490f-b130-0f876fdefedc",
      "name": "Return Security Error"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dc22ab61-744a-42a8-8737-85a74ce578a4",
              "leftValue": "={{ $json.properties.program_tier }}",
              "rightValue": "=Unlimited",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "514378ea-a09c-4767-be61-2d2c632d5ed3",
              "leftValue": "={{ $json.properties.program_tier }}",
              "rightValue": "=No Access",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "70727bb5-a6ec-41be-bf5b-bb6e5678136c",
              "leftValue": "={{ $json.properties.program_tier }}",
              "rightValue": " ",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "6fcd8578-18ad-47ca-8447-c4bdb837b6e1",
              "leftValue": "={{ $json.properties.program_tier }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        832,
        32
      ],
      "id": "20c8eeb3-b71b-4341-897f-7febb2324d9e",
      "name": "Check Program Tier"
    },
    {
      "parameters": {
        "jsCode": "// Return message for non-members\nreturn [{\n  json: {\n    success: false,\n    message: \"Access denied. This feature is only available to active program members. Please contact support to upgrade your access.\",\n    error: \"ACCESS_DENIED\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        -64
      ],
      "id": "ffdd1bfc-545c-4edd-a0b7-c530ffb00ecd",
      "name": "Program Tier No Access Return "
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "founderos.app.n8n.cloud",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Safari/537.36",
            "content-length": "55",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "en-US,en;q=0.9",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "49.145.4.8",
            "cf-ew-via": "15",
            "cf-ipcountry": "PH",
            "cf-ray": "98c48e58a5c92ac4-LAX",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "origin": "https://founder-os-white.webflow.io",
            "priority": "u=1, i",
            "referer": "https://founder-os-white.webflow.io/",
            "sec-ch-ua": "\"Google Chrome\";v=\"141\", \"Not?A_Brand\";v=\"8\", \"Chromium\";v=\"141\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-aria-secret": "soJviX7ATFSThIY8Fq1vQbwjl8o265ww",
            "x-forwarded-for": "49.145.4.8, 162.158.186.166",
            "x-forwarded-host": "founderos.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-24-5cd9cc5d7f-xxgbz",
            "x-is-trusted": "yes",
            "x-real-ip": "49.145.4.8"
          },
          "params": {},
          "query": {},
          "body": {
            "email": "calabiamatthew@live.com",
            "resetType": "reset"
          },
          "webhookUrl": "https://founderos.app.n8n.cloud/webhook/aria-password-reset",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate & Route Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HubSpot Search": {
      "main": [
        [
          {
            "node": "Check Program Tier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Route Request": {
      "main": [
        [
          {
            "node": "Enhanced Security",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Email Type": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Member & Route": {
      "main": [
        [
          {
            "node": "Route Email Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Password Reset Email Node": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create or update a contact": {
      "main": [
        [
          {
            "node": "Password Reset Email Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create or update a contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Custom Password Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enhanced Security": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "HubSpot Search",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Security Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Program Tier": {
      "main": [
        [
          {
            "node": "Program Tier No Access Return ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verify Member & Route",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "977cd1a9-7782-40ff-85b7-af156ba08d3e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3ae1f016b714a4bd5ab3dd9eecf35155cef7ffe768b468ebe00755b2ce1626cb"
  },
  "id": "8QF9uFR6puLwPENi",
  "tags": []
}