Codes and Functionalities/all n8n worflows/ARIA Set New Password.json
{
  "name": "ARIA Set New Password",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/aria-set-new-password",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "804536f2-f606-429f-8cce-04ff17815285",
      "name": "Webhook",
      "webhookId": "926bc428-b9b1-416a-9ac2-77b330b6d77d"
    },
    {
      "parameters": {
        "jsCode": "// N8N Function Node: Validate Reset Request\nconst inputData = $input.first().json;\nconst { email, resetToken, newPassword } = inputData.body || inputData;\n\nconsole.log('Password reset request received:', {\n  email: email || 'missing',\n  hasToken: !!resetToken,\n  hasPassword: !!newPassword,\n  timestamp: new Date().toISOString()\n});\n\n// Validate required fields\nif (!email || !resetToken || !newPassword) {\n  return [{\n    json: {\n      success: false,\n      message: \"Email, reset token, and new password are required\",\n      error: \"MISSING_FIELDS\"\n    }\n  }];\n}\n\n// Validate email format\nconst cleanEmail = email.trim().toLowerCase();\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\n\nif (!emailRegex.test(cleanEmail)) {\n  return [{\n    json: {\n      success: false,\n      message: \"Invalid email format\",\n      error: \"INVALID_EMAIL\"\n    }\n  }];\n}\n\n// Validate password strength\nif (newPassword.length < 8) {\n  return [{\n    json: {\n      success: false,\n      message: \"Password must be at least 8 characters long\",\n      error: \"WEAK_PASSWORD\"\n    }\n  }];\n}\n\n// Clean and prepare data\nreturn [{\n  json: {\n    email: cleanEmail,\n    resetToken: resetToken.trim(),\n    newPassword: newPassword,\n    validated: true,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "1545a505-c8ad-4800-8ca3-2e374b29c2d9",
      "name": "Validate Reset Request"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "search",
        "filterGroupsUi": {
          "filterGroupsValues": [
            {
              "filtersUi": {
                "filterValues": [
                  {
                    "propertyName": "email|string",
                    "value": "={{ $json.email }}"
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "properties": [
            "firstname",
            "lastname",
            "email",
            "program_tier",
            "aria_custom_password",
            "aria_reset_token"
          ]
        }
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "e2d0ad46-0282-4b41-8d0b-c9252f1dff66",
      "name": "Find User & Validate Token",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "GMo7dzwLKJaHGdGS",
          "name": "HubSpot account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// N8N Function Node: Verify Token & Expiry  \nconst contact = $input.first().json;\nconst { email, resetToken, newPassword } = $('Validate Reset Request').first().json;\n\nconsole.log('Verifying reset token:', {\n  email,\n  userFound: !!contact,\n  hasResetToken: !!contact?.properties?.aria_reset_token\n});\n\n// Check if user exists\nif (!contact || !contact.properties) {\n  return [{\n    json: {\n      success: false,\n      message: \"Invalid reset link. Please request a new password reset.\",\n      error: \"USER_NOT_FOUND\"\n    }\n  }];\n}\n\nconst props = contact.properties;\n\n// Check if user has a reset token\nif (!props.aria_reset_token) {\n  return [{\n    json: {\n      success: false,\n      message: \"Reset link has expired or been used. Please request a new password reset.\",\n      error: \"NO_RESET_TOKEN\"\n    }\n  }];\n}\n\n// Parse stored token (format: \"token:timestamp\")\nconst [storedToken, timestampStr] = props.aria_reset_token.split(':');\nconst tokenTimestamp = parseInt(timestampStr);\nconst currentTime = Date.now();\nconst thirtyMinutes = 30 * 60 * 1000; // 30 minutes in milliseconds\n\n// Verify token matches\nif (storedToken !== resetToken) {\n  return [{\n    json: {\n      success: false,\n      message: \"Invalid reset link. Please request a new password reset.\",\n      error: \"INVALID_TOKEN\"\n    }\n  }];\n}\n\n// Check if token is expired (30 minutes)\nif (currentTime - tokenTimestamp > thirtyMinutes) {\n  return [{\n    json: {\n      success: false,\n      message: \"Reset link has expired. Please request a new password reset.\",\n      error: \"EXPIRED_TOKEN\"\n    }\n  }];\n}\n\n// Token is valid, prepare for password update\nreturn [{\n  json: {\n    email: props.email,\n    hubspotId: props.hs_object_id,\n    firstName: props.firstname || 'Member',\n    newPassword: newPassword,\n    tokenValid: true,\n    programTier: props.program_tier\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "75951afb-d95d-489a-9226-87d456aa4d1f",
      "name": "Verify Token & Expiry"
    },
    {
      "parameters": {
        "jsCode": "// N8N Function Node: Hash New Password - DEBUG VERSION\nconst crypto = require('crypto');\nconst inputData = $input.first().json;\n\nconsole.log('=== HASH PASSWORD DEBUG ===');\nconsole.log('Input data received:', JSON.stringify(inputData, null, 2));\nconsole.log('Input keys:', Object.keys(inputData));\nconsole.log('newPassword value:', inputData.newPassword);\nconsole.log('newPassword type:', typeof inputData.newPassword);\nconsole.log('===============================');\n\nconst { email, hubspotId, firstName, newPassword, programTier } = inputData;\n\n// Check if newPassword exists\nif (!newPassword) {\n  console.error('ERROR: newPassword is missing from input data');\n  return [{\n    json: {\n      success: false,\n      message: \"Password data missing from previous step\",\n      error: \"MISSING_PASSWORD_DATA\",\n      debugInfo: {\n        inputData,\n        inputKeys: Object.keys(inputData)\n      }\n    }\n  }];\n}\n\nconsole.log('Hashing new password for:', { email, hubspotId });\n\n// Generate salt and hash password (using Node.js built-in crypto)\nfunction hashPassword(password) {\n  if (typeof password !== 'string') {\n    throw new Error(`Password must be string, got ${typeof password}: ${password}`);\n  }\n  const salt = crypto.randomBytes(16).toString('hex');\n  const hash = crypto.pbkdf2Sync(password, salt, 10000, 64, 'sha256').toString('hex');\n  return `${salt}:${hash}`;\n}\n\ntry {\n  const hashedPassword = hashPassword(newPassword);\n  console.log('Password hashed successfully');\n\n  return [{\n    json: {\n      email,\n      hubspotId,\n      firstName,\n      programTier,\n      hashedPassword,\n      readyToUpdate: true\n    }\n  }];\n} catch (error) {\n  console.error('Hashing error:', error.message);\n  return [{\n    json: {\n      success: false,\n      message: \"Failed to process password\",\n      error: \"HASH_FAILED\",\n      details: error.message\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        112
      ],
      "id": "748b1b0d-c274-4973-8cc4-cb92760d6812",
      "name": "Hash New Password"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1f0c7200-8de2-4430-b996-83714ae67eb3",
              "leftValue": "={{$json.success}}",
              "rightValue": "false",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        832,
        0
      ],
      "id": "f819ff59-698f-41bd-8e77-fb9840cb99d9",
      "name": "Check Token Validation"
    },
    {
      "parameters": {
        "jsCode": "// N8N Function Node: Return Error Response\nconst errorData = $input.first().json;\n\nconsole.log('Returning error response:', errorData);\n\n// Return the error as-is\nreturn [{ json: errorData }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        -48
      ],
      "id": "630489e7-19bb-436d-8251-2dea5f34d60a",
      "name": "Return Error Response"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "email": "={{ $json.email }}",
        "additionalFields": {
          "customPropertiesUi": {
            "customPropertiesValues": [
              {
                "property": "aria_custom_password",
                "value": "={{ $json.hashedPassword }}"
              },
              {
                "property": "aria_reset_token"
              }
            ]
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        1264,
        112
      ],
      "id": "58254627-753b-40f6-8e9d-357cd2035c57",
      "name": "Update Password & Clear Token",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "GMo7dzwLKJaHGdGS",
          "name": "HubSpot account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// N8N Function Node: Password Reset Success\n\nconst { email, firstName} = $('Verify Token & Expiry').first().json;\n\nconsole.log('Password reset completed successfully for:', { email });\n\nreturn [{\n  json: {\n    success: true,\n    message: `Password updated successfully! You can now log into ARIA with your new password.`,\n    email: email,\n    action: 'password_reset_completed',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        112
      ],
      "id": "29b4f168-2aa4-48f3-b377-7573bc59fac7",
      "name": "Password Reset Success"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "founderos.app.n8n.cloud",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/140.0.0.0 Safari/537.36",
            "content-length": "110",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "en-US,en;q=0.9",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "49.145.0.161",
            "cf-ew-via": "15",
            "cf-ipcountry": "PH",
            "cf-ray": "9811354d85d6cb82-LAX",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "origin": "https://founder-os-white.webflow.io",
            "priority": "u=1, i",
            "referer": "https://founder-os-white.webflow.io/",
            "sec-ch-ua": "\"Chromium\";v=\"140\", \"Not=A?Brand\";v=\"24\", \"Google Chrome\";v=\"140\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-aria-secret": "soJviX7ATFSThIY8Fq1vQbwjl8o265ww",
            "x-forwarded-for": "49.145.0.161, 172.70.206.125",
            "x-forwarded-host": "founderos.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-24-5cd9cc5d7f-xxgbz",
            "x-is-trusted": "yes",
            "x-real-ip": "49.145.0.161"
          },
          "params": {},
          "query": {},
          "body": {
            "email": "matthew.calabia@founderos.com",
            "resetToken": "wxh061k1d6bnb7agfrtcmfpfbl1d",
            "newPassword": "12345678"
          },
          "webhookUrl": "https://founderos.app.n8n.cloud/webhook/aria-set-new-password",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Reset Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Reset Request": {
      "main": [
        [
          {
            "node": "Find User & Validate Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find User & Validate Token": {
      "main": [
        [
          {
            "node": "Verify Token & Expiry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Token & Expiry": {
      "main": [
        [
          {
            "node": "Check Token Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Token Validation": {
      "main": [
        [
          {
            "node": "Return Error Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Hash New Password",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hash New Password": {
      "main": [
        [
          {
            "node": "Update Password & Clear Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Password & Clear Token": {
      "main": [
        [
          {
            "node": "Password Reset Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4b8b10a8-2c00-43d3-ae17-512ff7675fb5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3ae1f016b714a4bd5ab3dd9eecf35155cef7ffe768b468ebe00755b2ce1626cb"
  },
  "id": "gCi4ikFWZorRj4dI",
  "tags": []
}