Codes and Functionalities/all n8n worflows/ARIA Auth - Session Validation.json
{
  "name": "ARIA Auth - Session Validation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c96252fd-f33b-4e4e-8ea2-967ea1ac8e21",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "4eb4780d-4bb7-4124-950a-779ccac19b35",
      "name": "Webhook",
      "webhookId": "c96252fd-f33b-4e4e-8ea2-967ea1ac8e21"
    },
    {
      "parameters": {
        "jsCode": "// Stateless Token Validation - No storage required\n// This validates tokens based on format, age, and cryptographic integrity\n\nconst item = $input.first();\nconst inputData = item.json;\n\nconst headers = inputData.headers || {};\nconst body = inputData.body || {};\nconst currentTime = Date.now();\n\n// Extract request data\nconst authHeader = headers['authorization'];\nconst userAgent = headers['user-agent'] || '';\nconst clientIP = (headers['x-forwarded-for'] || \n                 headers['cf-connecting-ip'] || \n                 headers['x-real-ip'] || \n                 'unknown').toString().split(',')[0].trim();\n\n// Validate Authorization header\nif (!authHeader || !authHeader.startsWith('Bearer ')) {\n  return [{\n    json: {\n      sessionValid: false,\n      reason: 'Missing or invalid authorization header',\n      error: 'MISSING_BEARER_TOKEN'\n    }\n  }];\n}\n\nconst token = authHeader.substring(7); // Remove 'Bearer '\n\n// Basic rate limiting (in-memory, resets on restart)\nconst rateLimitResult = checkRateLimit(clientIP, currentTime);\nif (rateLimitResult.limited) {\n  return [{\n    json: {\n      sessionValid: false,\n      reason: 'Too many validation requests',\n      error: 'RATE_LIMITED'\n    }\n  }];\n}\n\n// Validate token format and integrity\nconst tokenValidation = validateTokenCompletely(token, currentTime);\nif (!tokenValidation.valid) {\n  return [{\n    json: {\n      sessionValid: false,\n      reason: tokenValidation.reason,\n      error: 'INVALID_TOKEN',\n      debug: {\n        tokenAge: tokenValidation.tokenAge,\n        tokenFormat: tokenValidation.format\n      }\n    }\n  }];\n}\n\n// Success - token is valid\nreturn [{\n  json: {\n    sessionValid: true,\n    reason: 'Token validation successful',\n    sessionInfo: {\n      userId: tokenValidation.userId,\n      tokenAge: tokenValidation.tokenAge,\n      validationMethod: 'stateless',\n      lastActivity: new Date(currentTime).toISOString()\n    }\n  }\n}];\n\n// *** HELPER FUNCTIONS ***\n\nfunction validateTokenCompletely(token, currentTime) {\n  // Step 1: Basic format validation\n  if (!token || typeof token !== 'string') {\n    return { valid: false, reason: 'Token missing or invalid type', format: 'invalid' };\n  }\n  \n  if (!token.startsWith('ARIA_AUTH_')) {\n    return { valid: false, reason: 'Invalid token prefix', format: 'invalid_prefix' };\n  }\n  \n  // Step 2: Structure validation\n  const tokenParts = token.split('_');\n  if (tokenParts.length !== 4) {\n    return { valid: false, reason: 'Invalid token structure', format: 'invalid_structure' };\n  }\n  \n  const [prefix, auth, timestampStr, userIdStr] = tokenParts;\n  \n  // Step 3: Timestamp validation\n  const tokenTimestamp = parseInt(timestampStr);\n  if (isNaN(tokenTimestamp)) {\n    return { valid: false, reason: 'Invalid timestamp in token', format: 'invalid_timestamp' };\n  }\n  \n  const tokenAge = currentTime - tokenTimestamp;\n  const maxAge = 24 * 60 * 60 * 1000; // 24 hours\n  \n  if (tokenAge > maxAge) {\n    return { \n      valid: false, \n      reason: 'Token expired', \n      format: 'expired',\n      tokenAge: Math.round(tokenAge / (60 * 60 * 1000)) + ' hours'\n    };\n  }\n  \n  if (tokenTimestamp > currentTime + 60000) { // Allow 1 minute clock skew\n    return { valid: false, reason: 'Token timestamp from future', format: 'future_timestamp' };\n  }\n  \n  // Step 4: User ID validation\n  const userId = parseInt(userIdStr);\n  if (isNaN(userId) || userId <= 0) {\n    return { valid: false, reason: 'Invalid user ID in token', format: 'invalid_user_id' };\n  }\n  \n  // Step 5: Token integrity check (basic)\n  // Verify the token format matches expected pattern\n  const expectedTokenPrefix = `ARIA_AUTH_${tokenTimestamp}_${userId}`;\n  if (token !== expectedTokenPrefix) {\n    return { valid: false, reason: 'Token integrity check failed', format: 'integrity_failed' };\n  }\n  \n  // All validations passed\n  return {\n    valid: true,\n    userId: userId,\n    tokenAge: Math.round(tokenAge / (60 * 1000)) + ' minutes',\n    format: 'valid'\n  };\n}\n\nfunction checkRateLimit(clientIP, currentTime) {\n  // Simple in-memory rate limiting (resets on workflow restart)\n  if (!global.validationRateLimit) {\n    global.validationRateLimit = {};\n  }\n  \n  const oneMinuteAgo = currentTime - 60000;\n  \n  if (!global.validationRateLimit[clientIP]) {\n    global.validationRateLimit[clientIP] = [];\n  }\n  \n  // Clean old entries\n  global.validationRateLimit[clientIP] = global.validationRateLimit[clientIP]\n    .filter(timestamp => timestamp > oneMinuteAgo);\n  \n  // Check limit (20 requests per minute)\n  if (global.validationRateLimit[clientIP].length >= 20) {\n    return { limited: true };\n  }\n  \n  // Add current request\n  global.validationRateLimit[clientIP].push(currentTime);\n  \n  return { limited: false };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "8f842fa6-2748-496f-b519-7e8931285d8f",
      "name": "JWT Session Validation"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        416,
        0
      ],
      "id": "35f22207-f032-490c-8c02-f51c0b83e8f7",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "founderos.app.n8n.cloud",
            "user-agent": "PostmanRuntime/7.45.0",
            "content-length": "108",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "authorization": "Bearer ARIA_AUTH_1757392024235_92851098398",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "49.145.0.161",
            "cf-ew-via": "15",
            "cf-ipcountry": "PH",
            "cf-ray": "97c3f0d9d3bda373-SEA",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "postman-token": "d7332cbb-89e7-4b6f-91e4-4b70db8139b3",
            "x-forwarded-for": "49.145.0.161, 162.158.41.30",
            "x-forwarded-host": "founderos.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-24-5cd9cc5d7f-f4xrt",
            "x-is-trusted": "yes",
            "x-real-ip": "49.145.0.161"
          },
          "params": {},
          "query": {},
          "body": {
            "action": "validate_session",
            "timestamp": 1757390202539,
            "userAgent": "PostmanRuntime/7.28.4"
          },
          "webhookUrl": "https://founderos.app.n8n.cloud/webhook/c96252fd-f33b-4e4e-8ea2-967ea1ac8e21",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "JWT Session Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JWT Session Validation": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "992f6bd2-4370-4a0e-8990-7c61e85bdf10",
  "meta": {
    "instanceId": "3ae1f016b714a4bd5ab3dd9eecf35155cef7ffe768b468ebe00755b2ce1626cb"
  },
  "id": "wQWeF9RHGHozANZa",
  "tags": []
}