Codes and Functionalities/all n8n worflows/Webflow Partial Newsletter Submission to HubSpot 05062025.json
{
  "name": "Webflow Partial Newsletter Submission to HubSpot 05062025",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "newsletter-partial",
        "options": {
          "allowedOrigins": "https://www.founderos.com,https://founder-os.webflow.io,https://founder-os-white.webflow.io"
        }
      },
      "id": "21db9071-7847-4c0e-8cd0-c19a9688bb5b",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -48,
        -64
      ],
      "webhookId": "c428174b-b15b-409e-8242-d28ec0325323"
    },
    {
      "parameters": {
        "jsCode": "// === Configurable Settings ===\nconst settings = {\n  delimiter: \"; \",\n  enableLogging: true,\n  requireValidEmail: true\n};\n\n// === Extract Input ===\nconst formData = $input.first().json.body.formData || {};\nconst firstName = formData['First-Name '] || settings.defaultFullName;\nconst email = formData.Email || \"\";\nconst isoTimestamp = $input.first().json.body.timestamp || null;\nconst timestampLong = isoTimestamp ? new Date(isoTimestamp).getTime() : null;\n\n// === Email Validation ===\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nif (settings.requireValidEmail && !emailRegex.test(email)) {\n  if (settings.enableLogging) {\n    console.warn(\"Invalid or missing email, skipping record:\", email);\n  }\n  return []; // Skip record if email is invalid\n}\n\n// === Logging ===\nif (settings.enableLogging) {\n  console.log(\"Parsed First Name:\", firstName);\n  console.log(\"Timestamp Long:\", timestampLong);\n  console.log(\"Form Step:\", $input.first().json.body.step || \"unknown\");\n}\n\n// === Final Output ===\nreturn [\n  {\n    json: {\n      ...$input.first().json,\n      body: {\n        ...$input.first().json.body,\n        formData: {\n          ...formData,\n          first_name: firstName,\n          most_recent_application_submitted_timestamp: timestampLong\n        }\n      }\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        -64
      ],
      "id": "cca20c38-2e25-4b14-95b8-375bd0ff2ae5",
      "name": "Partial Form Functions"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "email": "={{ $json.body.formData.Email }}",
        "additionalFields": {
          "customPropertiesUi": {
            "customPropertiesValues": [
              {
                "property": "utm_campaign",
                "value": "={{ $json.body.formData.utm_campaign }}"
              },
              {
                "property": "utm_source",
                "value": "={{ $json.body.formData.utm_source }}"
              },
              {
                "property": "utm_content",
                "value": "={{ $json.body.formData.utm_content }}"
              },
              {
                "property": "utm_medium",
                "value": "={{ $json.body.formData.utm_medium }}"
              },
              {
                "property": "utm_term",
                "value": "={{ $json.body.formData.utm_term }}"
              },
              {
                "property": "browser_used_to_submit_application",
                "value": "={{ $json.headers['sec-ch-ua'] }}"
              },
              {
                "property": "device_used_to_submit_application",
                "value": "={{ $json.headers['sec-ch-ua-platform'] }}"
              }
            ]
          },
          "firstName": "={{ $json.body.formData['First-Name'] }}",
          "phoneNumber": "={{ $json.body.formData.phone }}"
        },
        "options": {
          "resolveData": true
        }
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.1,
      "position": [
        624,
        -64
      ],
      "id": "7647724d-66b9-4f8d-bea7-6e899cb190fe",
      "name": "Update/Create HubSpot Contact",
      "retryOnFail": true,
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "GMo7dzwLKJaHGdGS",
          "name": "HubSpot account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f5845f61-7980-4d72-9ec8-79e11222b1fd",
              "leftValue": "={{ $json.body.formData.Email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        192,
        -64
      ],
      "id": "ca9f1ec1-02b1-4e91-b619-3058636b578f",
      "name": "Ignore empty emails"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Ignore empty emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Partial Form Functions": {
      "main": [
        [
          {
            "node": "Update/Create HubSpot Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update/Create HubSpot Contact": {
      "main": [
        []
      ]
    },
    "Ignore empty emails": {
      "main": [
        [],
        [
          {
            "node": "Partial Form Functions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "073aa73d-2202-4419-a2ed-2c654ad50398",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3ae1f016b714a4bd5ab3dd9eecf35155cef7ffe768b468ebe00755b2ce1626cb"
  },
  "id": "DmxEYm1J98rrWD9E",
  "tags": []
}